<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav-bar.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/Krish-e Logo.png')}}" />
    <header class="header">
        <h1 class="logo"><a href="{{url_for('home')}}">Krish-e</a></h1>
          <ul class="main-nav">
              <li><a href="/dashboard">Dashboard</a></li>
          </ul>
      </header> 
    <title>Krish-e</title>
</head>
<body>
    <nav>
        <div class="logo"></div>
        <div class="nav-links">
            <h2 style="
                text-align: center;
                padding: 20px;
                background: green;
                text-transform: capitalize;
                margin: 20px 80px;
                border-radius: 15px;
                color: #fff;
            ">You Should Plant {{crop}}</h2>
        </div>
    </nav>
</body>
</html>